body{
  background-color: rgba(238, 134, 96, 0.685);
}
.App{
  background-color: rgb(241, 46, 46);
  width: 500px;
  min-height: 650px;
  margin: 40px auto;
  border: 5px solid rgb(145, 6, 6);
  border-radius: 10px;
  margin-top: 10px;
}